<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{userName}}/expenses">MyFinance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{userName}}/expenses">Expenses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{userName}}/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{userName}}/statistics">Statistics</a>
      </li>
      </ul>
      <div class="my-2 my-lg-0">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{userName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="userpage">Cabinet</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="onLogOut()">Log out</a>
        </div>
      </div>
    </div>
  </nav>