#wrapper {
    outline: 1px solid rosybrown;
    position: relative;
}

#welcomeImage {
    background-repeat: no-repeat;
    height: 600px;
    min-width: 700px;
    /* outline: 1px solid red; */
}

#userManage {
    /* width: 30%; */
    /* outline: 1px solid green; */
    min-width: 240px;
    max-width: 240px;
    margin-left: 40px;
    /* position: absolute;
    right: 0px; */
}

.col, .col-8, .col-4 {
    outline: 1px solid pink;
}

.mat-tab-label {
    min-width: 50px !important;
}