<app-navbar></app-navbar>
<div id="statisticsWrapper">
    <div id="dateRangeInput">
      <form [formGroup]="statisticsService.expenseDateRangeModel">
        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="StartDate" placeholder="Start date">
              <input matEndDate formControlName="EndDate" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          
            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="getStats()">Submit</button>   
      </form>     
    </div>
    <div id="datesStats" class="charts">
      <canvas id="barChart" width="400" height="400"></canvas>
    </div>
    <div id="categoriesStats" class="charts">
      <canvas  id="pieChart" width="400" height="400"></canvas>
    </div>
</div>