<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput>
      </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput>
      </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input matInput>
      </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Register</button>
</div>