<div class="example-container">
  <form [formGroup]="service.userForRegistrationModel" autocomplete="off" (submit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput formControlName="FirstName" required>
      <label class="text-danger" *ngIf="service.userForRegistrationModel.get('FirstName').touched && service.userForRegistrationModel.get('FirstName').errors?.required">This field is mandatory</label>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="LastName" required>
      </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="UserName" required>
    </mat-form-field>
  <br>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="Email" required>
      </mat-form-field>
    <br>
    <div formGroupName="Passwords">
      <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="Password" type="password" required>
        </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
          <mat-label>Confirm password</mat-label>
          <input matInput formControlName="ConfirmPassword" type="password" required>
      </mat-form-field>
    </div>
    <br>
    <button mat-raised-button color="primary" type="submit">Register</button>
  </form>
</div>